<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Set Game</title>

  <link rel="stylesheet" href="stylesheets/site.css">
</head>
<body onload="startGame()">
    <%= partial 'layouts/header' %>
    <%= yield %>
  <script src="javascripts/site.js"></script>
</body>
</html>
<body>
  	