<div class = "splash">
    <h1> Welcome to the Game of Set! </h1>
</div>


  <div class="set-game" id="table">
    <div class="div-card-on-table" id = "t1">    
    </div>
    <div class="div-card-on-table" id = "t2">
    </div>
    <div class="div-card-on-table" id = "t3">
    </div>
    <div class="div-card-on-table" id = "t4">
    </div>
    <div class="div-card-on-table" id = "t5">
    </div>
    <div class="div-card-on-table" id = "t6">
    </div>
    <div class="div-card-on-table" id = "t7">
    </div>
    <div class="div-card-on-table" id = "t8">
    </div>
    <div class="div-card-on-table" id = "t9">
    </div>
    <div class="div-card-on-table" id = "t10">
    </div>
    <div class="div-card-on-table" id = "t11">
    </div>
    <div class="div-card-on-table" id = "t12">
    </div>
  </div>

  <div class = "div-scoreboard" id = "table">
  </div>

</div>

<div class = "div-timeDisplay" id = "timeDisplay">
</div>
